body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
}

.switch-container{
    width: 30%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switchCover{
    height: 80px;
    width: 50px;
    background: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 9px gray;
    flex-direction: column;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.screw{
    height: 5px;
    width: 5px;
    background-color: red;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.switch{
    height: 50%;
    width: 50%;
    background: linear-gradient(black, darkgrey);
    border-top: 1px solid black;
    border-bottom: 10px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;

}

.on{
    background: linear-gradient(darkgrey,black);
    border-top: 10px solid black;
    border-bottom: 1px solid black;
}

.bulb-container{
    width: 50%;
    height: 100vh;    

}

.wire{
    width: 10px;
    height: 120px;
    background-color: gray;
    margin: 0 auto;
    border-bottom-left-radius: 2px;
     border-bottom-right-radius: 2px;
}

.wireConnect{
    width: 14px;
    height: 15px;
    background-color: gray;
    margin: 0 auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -5px;
}

.topSocket{
    width: 30px;
    height: 15px;
    margin: 0 auto;
    background-color: azure;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -5px;

}

.bottomSocket{
    width: 30px;
    height: 20px;
    background-color: gray;
    margin: 0 auto;
    margin-top: -5px;
    border-top: 1px solid black;
}

.backSocket{
    width: 30px;
    height: 20px;
    background-color: gray;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: -10px;
    opacity: 0.5;
}

.bulbTop{
    width: 29px;
    height: 25px;
    background-color: lightgray;
    margin: 0 auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: -12px;

}

.bulbBottom{
    width: 50px;
    height: 50px;
    background-color: lightgray;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: -10px;
}

.bulbOn{
    background-color: lightyellow;
    box-shadow: 0 10px 80px 10px lightyellow;

}