*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
}

.whole{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.5sec ;
    -webkit-transition: all 0.5sec ;
    -moz-transition: all 0.5sec ;
    -ms-transition: all 0.5sec ;
    -o-transition: all 0.5sec ;
}
.popUp{
    display: none;
    height: 300px;
    width: 400px;
    /*display: flex;
    */justify-items: space-evenly;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    background-color: aqua;
    padding: 2rem;
    animation: show 0.5s ease;
    -webkit-animation: show 0.5s ease;
}

@keyframes show {
    0%,1%{
        transform: translateY(-99%);
        -webkit-transform: translateY(-99%);
        -moz-transform: translateY(-99%);
        -ms-transform: translateY(-99%);
        -o-transform: translateY(-99%);
}

    99%,100%{
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
}
    
}

#closeBtn{
    height: 3rem;
    width: 10rem;
    background-color: rgb(212, 56, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 2rem;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

#closeBtn:hover{
    cursor: pointer;
    background-color: red;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}  

.btn{
     /* display: none;  */
    height: 3rem;
    width: 10rem;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.btn:hover{
    cursor: pointer;
    background-color: yellow;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.active{
    background: rgba(0, 0, 0, 0.5);
}

.active .popUp{
    display: flex;
}

.active .tap{
    display: none;
}