*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider{
    height: 100vh;
}

img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.slide{
    display: none;
}

button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;

}
button.prev{
    left: 10px;
}
button.next{
    right: 10px;
}