
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 .slide{ 
    display: none;    
        }   

.slide:first-child{ 
    display: block;    
}

img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

button{
    position: absolute;
    top: 50%;
    background-color: whitesmoke;
    padding: 15px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}
button:focus{
    outline: 5px solid rgb(163, 12, 12);}

.prev{
    left: 5px;
}

.next{
    right: 5px;
}