*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;

}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.cover{
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    /* border: 2px solid black; */
    padding: 20px;
}

    #displays{
        width: auto;
        height: 150px;
        background-color: black;
        color: white;
        font-size: 2em;
    }

    button{
        border: 0;
        font-size: 28px;
        width: 60px;
        height: 50px;
        margin: 6px;
        padding: 0;
        cursor: pointer;

        
    }

    .operators{
        background-color: orange;
        color: white;
        border-radius: 5px;
    }
    .numbers{
        background-color: lightgray;
        color: black;
        border-radius: 5px;
    }

    .operators:hover{
        background-color: darkorange;
    }
    .numbers:hover{
        background-color: gray;
    }

    button#equals{
        height: 106px;
        background-color: green;
        }
    button#equals:hover{
        background-color: darkgreen;
        }

        button#C{
            background-color: red;
        }
        button#C:hover{
            background-color: darkred; /*  */
        }