@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow+Condensed:wght@400;500;600;700&family=Bebas+Neue&family=Miniver&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sevillana&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

h1{
  font-size: 2.5rem;
  font-weight: 700;
}

h2{
  font-size: 1.8rem;
  font-weight: 600;
}

h3{
  font-size: 1.4rem;
  font-weight: 800;
}

h4{
  font-size: 1.2rem;
  font-weight: 600;
}

h5{
  font-size: 1.1rem;
  font-weight: 400;
  color: #1d1d1d;
}

h6{
color: #d8d8d8;}

/* Button setting was not applied because of default Bootstrap  */
button{
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 20px;
  outline: none;
  border: none;
  background-color: #1d1d1d;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;

}

/* Navigation Bar */

.navbar{
  font-size: 20px;
  top: 0;
  left: 0;
  /* position: fixed; Add margin to home to prevent overlapping of navbar and home section 
  top: 0; We added  fixed-top to navbar class in html to make it fixed so we can remove these two lines
  z-index: 100;
  width: 100%; */
}

.navbar-light .navbar-nav .nav-link{
   color: #1d1d1d; 
  font-weight: 500;
  padding: 0 20px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;

}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active{
  color: red;
}


.navbar i{
  color: #1d1d1d;
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
  padding: 0 8px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;

}

/* Mobile Nav Bar */
.navbar-light .navbar-toggler{
  border: none;
  outline: none;
}

#bar{
  color: #1d1d1d;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  padding: 8px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;

}

#bar:hover,#bar:active{
  color: white;
}


@media only screen and (max-width: 991px){
  body > nav > div > button:hover, body > nav > div > button:active{
    background-color: coral;
  }

  #navbarSupportedContent > ul{
    margin: 16px;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }

  #navbarSupportedContent > ul > li:nth-child(n) > a{
    padding: 10px 0;
  }

}

/* Home Section */
#home {
  padding: 50px 0;
}

#home span {
  color: white;
}

#home{
  background-image: url("img/home1.jpg");
  background-size: cover;
  background-position:top center;
  width: 100%;
  min-height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: flex-start;
   flex-direction: column;  */
   margin-top: 30px; 
   padding-top: 200px;
}

/* #brand .row{
  display: flex;
  flex-direction: column;
  width: 15px;
  height: 14px;
} */

#brand{
  /* display: flex; I used bootstrap row class to create a horizontal group of columns so we can remove this line
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
   /* margin: 10px 2px;  */
   /* gap: calc(100% / 6); Adjust the gap between images as needed */
}

#brand img{
  
  width: 100px;
  height: auto;
  object-fit: contain;/* Adjust the size of the images as needed */
}

#show .one img{
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Another way to center the details div is to use absolute positioning and transform property 

 #show .one .details{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  Center the details div
 background-color: rgba(255, 255, 255, 0.8); 
  color: black;
  text-align: center;
  -webkit-transition:0.3s ease ;
  -moz-transition:0.3s ease ;
  -ms-transition:0.3s ease ;
  -o-transition:0.3s ease ;
  transition:0.3s ease ;

}

#show .one:hover .details{
  cursor: pointer;
  background-color: rgba(275, 178, 178, 0.7);
} When someone hovers their mouse over an element with the class .one (which is inside #show), style the child element with the class .details

#show .one .details button{
  display: inline-block;
  Make the button an inline-block element so it can have padding and margin
  font-size: 14px;
  font-weight: 500;
  background: none;
  border-bottom: 1px solid #2a2a2a;
  padding: 3px;
  color: #2a2a2a;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);  Move the button down by 30px 
}

#show .one .details button:hover{
  color: #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
   transform: translateY(0); Move the button back to its original position 
}

#show .one:nth-child(1) .details{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  flex-direction: column;
}

#show .one:nth-child(2) .details{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#show .one:nth-child(3) .details{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: end;
  flex-direction: column;
} 
  
*/

#show .one .details{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition:0.3s ease ;
  -moz-transition:0.3s ease ;
  -ms-transition:0.3s ease ;
  -o-transition:0.3s ease ;
  transition:0.3s ease ;

}

#show .one:hover .details{
  cursor: pointer;
  background-color: rgba(275, 178, 178, 0.6);
} 

#show .one .details button{
  display: inline-block;
  /*Make the button an inline-block element so it can have padding and margin*/
  font-size: 14px;
  font-weight: 500;
  background: none;
  border-bottom: 1px solid #2a2a2a;
  padding: 3px;
  color: #2a2a2a;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform: translateY(70px);
  -moz-transform: translateY(70px);
  -ms-transform: translateY(70px);
  -o-transform: translateY(70px);
  transform: translateY(70px);
  /*Move the button down by 30px*/

}

#show .one .details button:hover{
  color: #fff;
  border-bottom: 1px solid #fff;
  }

  #show .one:nth-child(1) .details{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  flex-direction: column;
}

#show .one:nth-child(2) .details{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#show .one:nth-child(3) .details{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: end;
  flex-direction: column;
} 

