*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer{
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.imageContainer img{
    height: 30rem;
    width: 30rem;
    margin: 2rem;
    border-radius: 1rem;

}

.imageContainer img:hover{
    transform: scale(1.1) rotate(5deg);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.1) rotate(5deg);
    -moz-transform: scale(1.1) rotate(5deg);
    -ms-transform: scale(1.1) rotate(5deg);
    -o-transform: scale(1.1) rotate(5deg);
    cursor: pointer;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
}

.view{
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none; /* This hides the view div by default */
}

.view img{
    height: 30rem;
    width: 30rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.view span{
    position: absolute;
    top: 0;
    right: 150px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}