body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

.textContainer{
    width: 100%;
    height: 40vh;
    outline: none;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    font-family: sans-serif;
    font-size: 1rem;
    padding: 1rem;
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;

}

.keyboard{
    width: 100vw;
    height: 50vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5rem 0;
    width: 100%;
}
.key{
    width: 40px;
    height: 40px;
    background-color: #555;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 4px #222;
    transition: all 0.1s ease-in-out;
}

.key:active{
    box-shadow: 0 2px #222;
    transform: translateY(2px);
    background-color: white;
}

.secondLast{
    width: 100%;
    margin: 0 auto;
}

.wide-space{
    width: 50%;
    height: 2rem;
    background-color:gray;
}

.enter,.delete,.capslock{
    width: 100px;
    color: white;
}

.capslock{
    width: 150px;
    color: white;
}

.active{
    background-color: whitesmoke;
    color: black;
}

