body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
    min-height: 100vh;
    }

    .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    }
div#search{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 3rem;
    border: none;
     border-radius: 1rem ; 
    background-color: black;
    /*justify-content: center;
    *//*align-items: center;
    */
    -webkit-border-radius: 1rem ;
    -moz-border-radius: 1rem ;
    -ms-border-radius: 1rem ;
    -o-border-radius: 1rem ;
    }

input{
        flex-wrap: wrap;
        background-color: transparent;
        border: none;   
        color: white;
        width: 15rem;
        outline: none;

}

button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border-left: 1px solid white;
}

button:hover{
    color: grey;
}
.cards{
    display: grid;
    width: 18rem;
    height: 18rem;
    padding: 2rem;
    margin-top: 2rem;
    background-color: white;
    border-radius: 1rem ;
    -webkit-border-radius: 1rem ;
    -moz-border-radius: 1rem ;
    -ms-border-radius: 1rem ;
    -o-border-radius: 1rem ;
}

.Property{
    width: auto;
}