body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}

.container{
    width: 26rem;
    height: 5rem;
    background-color: gray;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-size: large;
}

.numbers{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: azure;
    width: 50%;

}

.btn{
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn:hover{
    background-color: lightgray;
}

.active{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: white;
    color: grey;
    width: 2rem;
    height: 2rem;
}

